.card
.col-
  .col-
  .ui-g
    .ui-md-9
    
      h1 Tests List
    .ui-md-1
      .wraper-button-create
        button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only(label='Inline Button', pbutton='', style='margin-bottom:10px;width:auto', type='button', routerLink="new")
          span.ui-button-text.ui-c Create 

.card 
  .ui-widget-header.ui-helper-clearfix(style='padding:4px 10px;border-bottom: 0 none')
    i.fa.fa-search(style='float:left;margin:4px 4px 0 0')
    input(#gb="", type='text', pInputText, size='50', style='float:left', placeholder='Global Filter')

  p-dataTable([value]="testsList", [rows]="15", [lazy]="true", [paginator]="true", [globalFilter]="gb", (onLazyLoad)="loadLazy($event)")
    p-column(field="title", header="Name", [filter]="true" )
    p-column(field="description", header="Description")
    p-column(field="type", header="Type")
        template(let-col, let-type="rowData", pTemplate, type="body")
            span.label.label-success {{type['type']}}
    p-column([styleClass]="text-center")
        template(pTemplate, type="header")
            | Actions
        template(let-item="rowData", pTemplate, type="body")
            button.teal-btn.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only(icon='ui-play-run', pbutton='', type='button', routerLink="/settings/tests/{{item.id}}")
              span.ui-button-icon-left.ui-c.fa.fa-fw.ui-icon-play-arrow
              span.ui-button-text.ui-c play
            button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only(icon='ui-icon-create', pbutton='', type='button', routerLink="edit/{{item.id}}")
              span.ui-button-icon-left.ui-c.fa.fa-fw.ui-icon-create
              span.ui-button-text.ui-c create
            
