<div class="margin clearfix">
</div>
<footer>
  <div class="footer-blocks">
    <div class="footer-block">
      <div class="footer-block-column">
        <h4>SKYPE:
          <span> mywebsite.com</span>
        </h4>
      </div>
      <div class="footer-block-column">
        <h1>autoservis</h1>
      </div>
      <div class="footer-block-column">
        <h4>E-MAIL:
          <span>t0996602789@gmail.com</span>
        </h4>
      </div>
    </div>
    <div class="footer-columns">
      <div class="footer-column">
        <div class="line"></div>
      </div>
      <div class="footer-column">
        <p>fj;hpgjg djghnjirospsf ddjghgigi</p>
      </div>
    </div>
  </div>
</footer>
